<!DOCTYPE html>
<html lang="en" ng-app="avengerApp">
<head>
  <meta charset="UTF-8">
  <title>Avengers!</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">

  {{ test }}

  <!-- below is how you display an avenger! -->
  <p>{{ avengers[0].name }}</p>

  <div class="hero-wrapper">
    <div class="heroCard">
      <h2 class="heroName">{{avengers[0].name}}</h2>
    </div>
  </div>

  <!-- instead of doing the code below and manually pasting this, we're gonna use a directive called ng-repeat!
  <div class="hero-wrapper">
    <div class="heroCard">
      <h2 class="name">{{avengers[0].name}}</h2>
    </div>
  </div>

  <div class="hero-wrapper">
    <div class="heroCard">
      <h2 class="name">{{avengers[0].name}}</h2>
    </div>
  </div>-->

  <!-- this is called filtering!! we want to type in 'hulk', and have only the hulk card show up -->
  <!-- go to the .heroCard -->
  <input type="text" ng-model="filterText" name="name" value="">

  <div class="hero-wrapper">
    Above you see that I called Iron Man. Below you'll see that the array teamAvengers
    is repeated (using ng-repeat) without us having to manually copy/paste that
    same heroCard.
  </div>

  <!-- with ng-repeat we can loop through an array! -->
  <div class="hero-wrapper"> <!-- the word 'hero' is just an arbitrary word we're usin -->
    <div class="heroCard" ng-repeat="hero in avengers | filter: filterText">
      <h2 class="heroName">{{hero.name}}</h2>
      <!-- in the linde below, you'll see the ||. It's saying "if the left of me
      comes back falsy, then do what's on the right of me" -->

      <div class="hero-image">
        <!-- in the line below we'll see how to grab the img. notice how the '.' is used to
        include the necessary period for the file extention. remember, if you look
        at the actual value of the object key, 'path' only includes the url path
        and 'extension' doesn't include the '.'. this is why we put the '.' between
        the curly braces -->
        <img ng-src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" alt="" />
      </div>
      <h4 class="description">{{ hero.description || 'This hero don\'t need a description' }}</h4>
      <h1>{{ $index }}</h1>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/MainCtrl.js"></script>
</body>
</html>
